*{
    margin: 0;
    padding: 0;
}

.contenant{
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 10vh;
    align-items: center;
    justify-content: center;
    background-color: #8b8bad;
    box-shadow: rgba(2, 62, 131, 0.3) 0px 0px 0px 3px;
}

.barre img{
    width: 100%;
}

.boutons{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: center;
    margin-top: 1%;
}

.boutons button{
    font-size: 3rem; 
    margin: 2% 5%;
    padding: 1% 3%;
}